Repository microcks/microcks, pull requests merged in 2019-06, with the labels that each got.

#148 Handle empty bodies in postman collection + default status code
  src/main/java/io/github/microcks/util/postman/PostmanCollectionImporter.java
Labels: component/importer, component/mocks, kind/enhancement

#136 Spec body should also use UTF8 encoding
  src/main/java/io/github/microcks/util/openapi/OpenAPIImporter.java
Labels: component/importer, kind/enhancement

#139 Make services update scheduler configurable, see https://github.com/m…
  install/docker-compose/config/application.properties
  install/docker-compose/microcks.yml
  src/main/java/io/github/microcks/task/ImportServiceDefinitionTask.java
  src/main/resources/config/application.properties
Labels: component/importer
