Repository microcks/microcks, pull requests merged in 2024-12, with the labels that each got.

#1440 fix(ui): Fix typo in match regexp input label
  webapp/src/main/webapp/src/app/pages/services/{serviceId}/operation/operation-override.page.html
Labels: component/ux, kind/enhancement

#1441 APIExample doesn't provide a default status
  webapp/src/main/java/io/github/microcks/util/metadata/ExamplesImporter.java
  webapp/src/test/java/io/github/microcks/util/metadata/ExamplesImporterTest.java
  webapp/src/test/resources/io/github/microcks/util/metadata/APIPastry-2.0-examples.yml
Labels: kind/bug, component/importer

#1438 #feat: 1418 support headers in grpc tests
  webapp/src/main/java/io/github/microcks/util/grpc/GrpcTestRunner.java
  webapp/src/main/java/io/github/microcks/util/postman/PostmanTestStepsRunner.java
  webapp/src/main/java/io/github/microcks/util/test/HttpTestRunner.java
  webapp/src/main/java/io/github/microcks/util/test/TestRunnerCommons.java
Labels: component/mocks, component/tests, kind/enhancement, java
