Repository microcks/microcks, pull requests merged in 2025-03, with the labels that each got.

#1499 ci: optimize build-verify.yml workflow
  .github/workflows/build-container.yml
  .github/workflows/build-verify.yml
Labels: kind/task, kind/enhancement, component/build

#1542 fix: add groovy-datetime dependency
  webapp/pom.xml
Labels: kind/bug, component/mocks

#1541 feat: add access to named URI template parameter values from SCRIPT dispatcher
  webapp/src/main/java/io/github/microcks/util/DispatchCriteriaHelper.java
  webapp/src/main/java/io/github/microcks/util/script/FakeScriptMockRequest.java
  webapp/src/main/java/io/github/microcks/util/script/ScriptEngineBinder.java
  webapp/src/main/java/io/github/microcks/web/RestController.java
  webapp/src/test/java/io/github/microcks/util/DispatchCriteriaHelperTest.java
  webapp/src/test/java/io/github/microcks/util/script/ScriptEngineBinderTest.java
  webapp/src/test/java/io/github/microcks/web/RestControllerIT.java
  webapp/src/test/resources/io/github/microcks/util/openapi/pastry-with-script-openapi.yaml
Labels: component/mocks, kind/enhancement

#1551 feat: add healthcheck for podman-compose installation
  install/podman-compose/microcks-template-async-addon.yml
  install/podman-compose/microcks-template-devmode.yml
  install/podman-compose/microcks-template.yml
Labels: component/ux, kind/enhancement, component/install, type/Part, component/build

#1533 ci: add health checks for docker-compose installation
  install/docker-compose/docker-compose-async-addon.yml
  install/docker-compose/docker-compose-devmode.yml
  install/docker-compose/docker-compose-with-proxy.yml
  install/docker-compose/docker-compose.yml
  install/docker-compose/kafdrop-addon.yml
  install/docker-compose/nats-addon.yml
  install/docker-compose/rabbitmq-addon.yml
Labels: component/ux, kind/enhancement, component/install, type/Part, component/build
