Repository microcks/microcks, pull requests merged in 2025-07, with the labels that each got.

#1642 BUG FIXED #1634 the code only treats the file as JSON if the very first line starts with { or [.
  README.md
  webapp/src/main/java/io/github/microcks/util/AbstractJsonRepositoryImporter.java
Labels: kind/bug, component/importer

#1624 feat: add workflow for testing APIs
  .github/workflows/api-check.yml
  install/docker-compose/keycloak-realm/microcks-realm-sample.json
  testsuite/api-tests.js
  testsuite/commons.js
  testsuite/flavor-config.js
  testsuite/upload-artifacts.sh
Labels: component/ux, kind/enhancement, component/install, component/build

#1630 Perf/use batching for DailyStatisticsFeeder
  webapp/src/main/java/io/github/microcks/listener/DailyStatisticsFeeder.java
  webapp/src/main/java/io/github/microcks/repository/CustomDailyStatisticRepository.java
  webapp/src/main/java/io/github/microcks/repository/DailyStatisticRepositoryImpl.java
  webapp/src/test/java/io/github/microcks/listener/DailyStatisticsFeederTest.java
Labels: kind/question, kind/enhancement

#1649 Fix: AsyncAPI tests cannot handle contentType `any`
  minions/async/src/main/java/io/github/microcks/minion/async/AsyncAPITestManager.java
  minions/async/src/test/java/io/github/microcks/minion/async/AsyncAPITestManagerIT.java
  minions/async/src/test/java/io/github/microcks/minion/async/AsyncAPITestManagerTest.java
  minions/async/src/test/resources/io/github/microcks/minion/async/send-message-asyncapi-3.0.yaml
Labels: kind/bug, component/tests
